<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link rel="shortcut icon" href="img/nab_star.png"/>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!-- global css -->
<link type="text/css" href="css/app.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/custom.css">
<!-- end of global css -->
<!--pagelevel css-->
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/d3.min.js" type="text/javascript"></script>
<script src="js/c3.min.js" type="text/javascript"></script>
<script src="js/jquery-ui.js" type="text/javascript"></script>
<link rel="stylesheet" href="css/c3.min.css"/>
<link rel="stylesheet" href="css/pages/dashboard2.css"/>
<link rel="stylesheet" type="text/css" href="css/pages/gv_maps.css">
<script src="js/charts.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">

<!--end of pagelevel css-->