<html>
	<head>
		<script src="/js/jquery.js"></script>
		<script>

		</script>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<title>KML Layers</title>
		<style>
		  /* Always set the map height explicitly to define the size of the div
		   * element that contains the map. */
		  #map {
			height: 100%;
		  }
		  /* Optional: Makes the sample page fill the window. */
		  html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		  }
		</style>
	</head>
	<body>
		<h1>Test - {{run}}</h1>
		{% for key, value in result.items() %}
			<div>{{key}}</div>
			<div>{{value}}</div>
		{% endfor %}
		<div id="map"></div>
		<script>

		function initMap() {
			$.get("/kml?lga=10050",function(response){
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 11,
				  center: {lat: -36.071325,  lng: 146.913453}
				});

				var ctaLayer = new google.maps.KmlLayer({
				  url: 'https://sites.google.com/site/kmlrepositorynab/albury/albury?attredirects=0&d=1',
				  map: map
				});
				
				var ctaLayer = new google.maps.KmlLayer({
				  url: 'https://sites.google.com/site/kmlrepositorynab/albury/wodonga?attredirects=0&d=1',
				  map: map
				});
			});
		}
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYKfV8L3F7AW2zJbmbfd1cpDbz8nNq3Ks&callback=initMap">
		</script>
	</body>
</html>