<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NAB Branch Optimisation | Lens 4</title>
    {% include 'headers.html' %}
	<style>

	</style>
	<link href="/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />
	<script src="/js/bootstrap-switch.js" type="text/javascript"></script>
	<script>
		map=null;
		$(document).ready(function(){


			map=createMap("Overview of branch network" ,"#chart_holder_3",{
				lat: -25.584590,
				lng: 133.794998,
				zoom: 3,
				zoomControl: true,
				zoomControlOpt: {
					style: "SMALL",
					position: "TOP_LEFT"
				},
				panControl: true,
				streetViewControl: false,
				mapTypeControl: false,
				overviewMapControl: false
			});


		display_1_title = 'Least profitable branches nationwide'
		display_2_title = 'Branch profitability segment count'
		display_3_title = 'Total Profitability of NAB branch network ($million)'
		document.getElementById("text_body").innerHTML = "<h4></h4>"



		addMarkersToMap(map,'/branch/display3',{longitude:'longitude',latitude:'latitude'},null);
		createChart('/branch/display2',{width:800,height:400,title:('%s',display_2_title)},"#chart_holder_5","bar");
		createChart('/branch/display4',{width:800,height:400,title:('%s',display_3_title)},"#chart_holder_4","horizontalbar");
		createChart('/branch/display1',{id:"LGAs_table",class:"table table-bordered table-striped",height:300,title:('%s',display_1_title)},"#chart_holder_2","table");
		});


	</script>
</head>

<body>
<!-- header logo: style can be found in header-->
<header class="header">
{% include 'nav.html' %}
</header>





<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-aside">
        <!-- sidebar: style can be found in sidebar-->
        {% include 'sidebar.html' %}
        <!-- /.sidebar -->
    </aside>
    <aside class="right-aside">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div id="header_body" >

				<form id="queryForm">
                	<div class="form-group"> <!-- User input field !-->
                		<label for="user_input" class="control-label">Ask me anything:</label>

                		 <input type="text" class="form-control" id="input_id" name="user_input" placeholder="Type anything here" onkeyup="complete()">
							<!--<div class="form-group">
								<button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
							</div>-->

					</div>

                </form>

				<script>
            	$('#submitButton').click(function(e) {
            		e.preventDefault();
	                $.ajax({
					    type: "POST",
					    url: "/query/userinput", // link via url to server.py
					    data: $('#queryForm').serialize(), // take the whole form and format it

					  });

					map=createMap("Overview of branch network" ,"#chart_holder_3",{
						lat: -25.584590,
						lng: 133.794998,
						zoom: 3,
						zoomControl: true,
						zoomControlOpt: {
							style: "SMALL",
							position: "TOP_LEFT"
						},
						panControl: true,
						streetViewControl: false,
						mapTypeControl: false,
						overviewMapControl: false
					});

					//addMarkersToMap(map,'/branch/display3',{longitude:'longitude',latitude:'latitude'},'bsb','nab');
					createChart('/branch/display2',{width:800,height:400,title:('%s',display_2_title)},"#chart_holder_5","bar");
					createChart('/branch/display4',{width:800,height:400,title:('%s',display_3_title)},"#chart_holder_4","horizontalbar");
					createChart('/branch/display1',{id:"LGAs_table",class:"table table-bordered table-striped",height:300,title:('%s',display_1_title)},"#chart_holder_2","table");

            	});

                function complete() {

                    var value = document.getElementById("input_id");

                    var last = value.value.substr(value.value.length - 1);

                    if (last == " ") {

                        console.log('Here');

                        $.get('/NLP/question?question='+value.value,function(response) {


                            removeMarkers();

                            console.log(response);
                            response=JSON.parse(response);
                            //value.value = value.value;
                            addMarkersToMap(map,'/branch/display3?chosen='+response['level1']+'&limit='+response['limit'],{longitude:'longitude',latitude:'latitude'},'bsb','nab');
                            createChart('/branch/display2?chosen='+response['level1']+'&limit='+response['limit'],{width:800,height:400,title:('%s',display_2_title)},"#chart_holder_5","bar");
                            createChart('/branch/display4?chosen='+response['level1']+'&limit='+response['limit'],{width:800,height:400,title:('%s',display_3_title)},"#chart_holder_4","horizontalbar");
                            createChart('/branch/display1?chosen='+response['level1']+'&limit='+response['limit'],{id:"LGAs_table",class:"table table-bordered table-striped",height:300,title:('%s',display_1_title)},"#chart_holder_2","table");

                            document.getElementById("text_body").innerHTML = response['texttodisplay'];

                        });

                    }

                }


				</script>








			</div>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- row -->

            <div class="row">
                <div class="col-lg-4">
                        <div class="panel-heading"><h4 id="text_title">Overview</h4></div>
                        <div class="panel-body">
							<div id="text_body" >

							</div>
						</div>
                </div>

				<div class="col-lg-4" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_2_title"></h4></div>
                        <div class="panel-body" id="chart_holder_2"></div>
                    </div>
                </div>

				<div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_3_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_3" class="gmap"></div></div>

                    </div>
                </div>

             </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_4_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_4"></div></div>
                    </div>
                </div>
				<div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_5_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_5" ></div></div>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of page level js -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyADWjiTRjsycXf3Lo0ahdc7dDxcQb475qw&libraries=places"></script>
<script type="text/javascript" src="vendors/gmaps/js/gmaps.min.js"></script>
<script type="text/javascript" src="js/pages/gv_maps.js"></script>
</body>

</html>
