<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NAB Branch Optimisation | Lens 4</title>
    {% include 'headers.html' %}
	<style>

	</style>
	<link href="/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />
	<script src="/js/bootstrap-switch.js" type="text/javascript"></script>
	<script>
		var switchStates = {};
		
		map=null;
		$(document).ready(function(){
			
			
			map=createMap("Overview of branch network" ,"#chart_holder_3",{
				lat: -33.819462, 
				lng: 151.0057174,
				zoom: 13,
				zoomControl: true,
				zoomControlOpt: {
					style: "SMALL",
					position: "TOP_LEFT"
				},
				panControl: true,
				streetViewControl: false,
				mapTypeControl: false,
				overviewMapControl: false
			});
			
			
		display_1_title = 'Least profitable branches nationwide'
		display_2_title = 'Branch profitability segment count'
		display_3_title = 'Total Profitability of NAB branch network ($million)'
		document.getElementById("text_body").innerHTML = "<h4>National branch profits are on average $490300, with the median profit $438268. If we were to close all non-profitable branches the profit per branch would be on average $545396. Total profits nationally however will move from $4412704 to $2726983. Foot traffic is affected closing national branches moving from current 19418831 store walk-ins per year to 11041058 if non-profitable branches are closed.</h4>" 
		document.getElementById("header_body").innerHTML = "<h1> What happens if we close all non-profitable branches? </h1>"						
		
		
		addMarkersToMap(map,'/branch/display3',{longitude:'longitude',latitude:'latitude'},null);		
		createChart('/branch/display2',{width:800,height:400,title:('%s',display_2_title)},"#chart_holder_5","bar");
		createChart('/branch/display4',{width:800,height:400,title:('%s',display_3_title)},"#chart_holder_4","horizontalbar");
		createChart('/branch/display1',{id:"LGAs_table",class:"table table-bordered table-striped",height:300,title:('%s',display_1_title)},"#chart_holder_2","table");		
		});
		
		
		
		
								
		
		
		var __CONTROL_STATE__=false;
		
		function showControls()
		{
			$("#controls_container").slideToggle();
			
			if(__CONTROL_STATE__)
				$("#control_panel_btn").html("Controls \<i class=\"fa fa-angle-double-down\"></i>");
			else
				$("#control_panel_btn").html("Controls <i class=\"fa fa-angle-double-up\"></i>");
				
			__CONTROL_STATE__=!__CONTROL_STATE__;
		}
		
		

	</script>
</head>

<body>
<!-- header logo: style can be found in header-->
<header class="header">
{% include 'nav.html' %}
</header>


<div id="control_panel">
	<button id="control_panel_btn" onclick="showControls()">Controls <i class="fa fa-angle-double-up"></i></button>
	<div id="controls_container">
		<div class="form-group">
			<div class="form-group">
				<div class="row" id="control_panel_switches">
					<div class="col-md-3">
						<label class="control-label m-t-25">
							National Lens Question
						</label>
						<input type="radio" name="switch" value="national" class="switch" checked id="my_bs_switch1" data-on-color="primary" data-off-color="info">
						<!--<input type="checkbox" name="nationalSwitch" id="my_bs_switch1" checked data-on-color="primary" data-off-color="info"> -->
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Regional Lens Question
						</label>
						<input type="radio" name="switch" value="regional" class="switch" id="my_bs_switch2" data-on-color="primary" data-off-color="info">
						<!--<input type="checkbox" name="regionalSwitch" id="my_bs_switch1" checked data-on-color="primary" data-off-color="info"> -->
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Branch Lens Question
						</label>
						<input type="radio" name="switch" value="branch" class="switch" id="my_bs_switch3" data-on-color="primary" data-off-color="info">
						<!--<input type="checkbox" name="branchSwitch" id="my_bs_switch2" checked data-on-color="primary" data-off-color="info">-->
					</div>
					
					<script>
							$('.switch').bootstrapSwitch();						
							$('.switch').on('switchChange.bootstrapSwitch', function(event,state){
							
								if ($(this).val() == 'national'){
									display_1_title = 'Least profitable branches nationwide'
									display_2_title = 'Branch profitability segment count'
									display_3_title = 'Total Profitability of NAB branch network ($million)'
									document.getElementById("text_body").innerHTML = "<h4>National branch profits are on average $490300, with the median profit $438268. If we were to close all non-profitable branches the profit per branch would be on average $545396. Total profits nationally however will move from $4412704 to $2726983. Foot traffic is affected closing national branches moving from current 19418831 store walk-ins per year to 11041058 if non-profitable branches are closed.</h4>" 
									document.getElementById("header_body").innerHTML = "<h1> What happens if we close all non-profitable branches? </h1>"
								}
								if ($(this).val() == 'regional'){
									display_1_title = ' Branches within Parramatta'
									display_2_title = ' Branch facility count (total of 9 Parramatta branches)'
									display_3_title = ' Branch service count (total of 9 Parramatta branches) '
									document.getElementById("text_body").innerHTML = "<h4>There are a total of 11 NAB branches with local government area. Parramatta and 57 competitor branches. Of the 11 branches in Parramatta 3 are located in malls, 4 free standing and 2 on retail high streets. The most profitable branch in the region is Level 27  28 George St with a total yearly profit of $710967. The branch with highest total foot traffic is Level 27  28 George St with 2387195 walk ins yearly. National branch profit on average is $490300 while the average branch profit in Parramatta is $490300. National branch foot traffic on average is 2157647 while the foot traffic on average in Parramatta is 2157647.</h4> " 
									document.getElementById("header_body").innerHTML = "<h1> What type of branches are there in Parramatta? </h1>"
								}
								
								if ($(this).val() == 'branch'){
									display_1_title = "W'field Paramatta KPI's "
									display_2_title = " Total profitability of Parramatta region (W'field open/closed)"
									display_3_title = "W'field Parramatta branch profitability (Optimised)"
									document.getElementById("text_body").innerHTML = "<h4>The population of Parramatta is set to grow from 182876 in 2017 to 204821 in 2023. With this we expect the average age of our    customers to move from 37 to 42. The average income will also move from $85044 to $96057 annually. Currently the total profit within the local government area Parramatta is $4412704, removing the Westfield branch will see profits move to $3966919. Optimising drive time will see profits reach $4412466. If the decision is to optimise product mix and facilities total Parramatta profit will be $4412765.</h4>" 
									document.getElementById("header_body").innerHTML = "<h1> Based on projected socio-demographic changes in Parramatta over the next 5 years, should the Parramatta Westfield branch be re-configured, moved or closed? </h1>"
								
								}
							map=createMap("Overview of branch network" ,"#chart_holder_3",{
							lat: -33.819462, 
							lng: 151.0057174,
							zoom: 13,
							zoomControl: true,
							zoomControlOpt: {
								style: "SMALL",
								position: "TOP_LEFT"
							},
							panControl: true,
							streetViewControl: false,
							mapTypeControl: false,
							overviewMapControl: false
							});
								addMarkersToMap(map,'/branch/display3?chosen='+$(this).val(),{longitude:'longitude',latitude:'latitude'},null);		
								createChart('/branch/display2?chosen='+$(this).val(),{width:800,height:400,title:('%s',display_2_title)},"#chart_holder_5","bar");
								createChart('/branch/display4?chosen='+$(this).val(),{width:800,height:400,title:('%s',display_3_title)},"#chart_holder_4","horizontalbar");
								createChart('/branch/display1?chosen='+$(this).val(),{id:"LGAs_table",class:"table table-bordered table-striped",height:300,title:('%s',display_1_title)},"#chart_holder_2","table");	


								
							});
					</script>
				</div>
			</div>
		</div>
	</div>
</div>










<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-aside">
        <!-- sidebar: style can be found in sidebar-->
        {% include 'sidebar.html' %}
        <!-- /.sidebar -->
    </aside>
    <aside class="right-aside">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div id="header_body" >
																
			</div>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- row -->
						
            <div class="row">
                <div class="col-lg-4">
                        <div class="panel-heading"><h4 id="text_title">Overview</h4></div>
                        <div class="panel-body">
							<div id="text_body" >
																
							</div>
						</div>
                </div>
				
				<div class="col-lg-4" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_2_title"></h4></div>
                        <div class="panel-body" id="chart_holder_2"></div>
                    </div>
                </div>
				
				<div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_3_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_3" class="gmap"></div></div>
						<div class="computer_button">
							<button onclick="computeClose()">Compute</button>
						</div>
                    </div>
                </div>
				
             </div> 
			
			
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_4_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_4"></div></div>
                    </div>
                </div>
				<div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_5_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_5" ></div></div>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of page level js -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyADWjiTRjsycXf3Lo0ahdc7dDxcQb475qw&libraries=places"></script>
<script type="text/javascript" src="vendors/gmaps/js/gmaps.min.js"></script>
<script type="text/javascript" src="js/pages/gv_maps.js"></script>
</body>

</html>
