<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> NAB Branch Optimisation - Lens 2</title>
	{% include 'headers.html' %}
	<link href="/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />
	<script src="/js/bootstrap-switch.js" type="text/javascript"></script>

	<script>
		var switchStates = {};
/**
		function initMap() {
				var map = new google.maps.Map(document.getElementById('chart_holder_3'), {
				  zoom: 11,
				  center: {lat: -33.862556, lng: 151.205827}
				});
				
				addMarkersToMap(map,"/branches/locations",{title:'bank',content:'description',longitude:'long',latitude:'lat'});
				addLGA(map,17200);
		}
	
		$(document).ready(function(){
			map=createMap("Australia - Overview" ,"#chart_holder_3",{
				lat: -33.862556, 
				lng: 151.205827,
				zoom: 11,
				zoomControl: true,
				zoomControlOpt: {
					style: "SMALL",
					position: "TOP_LEFT"
				},
				panControl: true,
				streetViewControl: false,
				mapTypeControl: false,
				overviewMapControl: false
			});
		})
	**/			
			/**addMarkersToMap(map,"/branches/locations?banks=NAB",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb');
			addLGA(map.map,17200);*/
			
			createChart('/branch/currentsegmentfoot',{width:300,height:300,title:"Customer Breakdown (# of customer in segments, '000)"},"#chart_holder_11","horizontalbar");

			createChart('/branch/currentsegment',{width:300,height:300,title:"Revenue Breakdown Per Segment ($ million)"},"#chart_holder_110","horizontalbar");
            createChart('/branch/currentsegmentrevenue',{width:300,height:300,title:"Last 12 Months Branch Visit"},"#chart_holder_111","horizontalbar");
            createChart('/branch/currentsegmentbreakdown',{width:300,height:300,title:"Active mobile App users"},"#chart_holder_112","horizontalbar");

			createChart('/branch/currentfoottraffic',{width:300,height:300,title:"Transaction Breakdown (# of transactions in services, '000)"},"#chart_holder_12","horizontalbar");
			createChart('/branch/currentrevenue',{width:300,height:300,title:"Revenue Breakdown ($ in services, '000)"},"#chart_holder_13","horizontalbar");
			createChart('/branch/currentsummary',{id:"branch_current_table",'class':"table table-bordered table-striped",height:200,title:"Summary"},"#chart_holder_14","table");
			createChart('/branch/futuresegment',{width:300,height:300,title:"Customer Breakdown (# of customer in segments, '000)"},"#chart_holder_21","horizontalbar");
			createChart('/branch/futurefoottraffic',{width:300,height:300,title:"Transaction Breakdown (# of transactions in services, '000)"},"#chart_holder_22","horizontalbar");
			createChart('/branch/futurerevenue',{width:300,height:300,title:"Revenue Breakdown ($ in services, '000)"},"#chart_holder_23","horizontalbar");
			createChart('/branch/futuresummary',{id:"branch_futuret_table",'class':"table table-bordered table-striped",height:200,title:"Summary"},"#chart_holder_24","table");
			createChart('/branch/optimisedsegment',{width:300,height:300,title:"Customer Breakdown (# of customer in segments, '000)"},"#chart_holder_31","horizontalbar");
			createChart('/branch/optimisedfoottraffic',{width:300,height:300,title:"Transaction Breakdown (# of transactions in services, '000)"},"#chart_holder_32","horizontalbar");
			createChart('/branch/optimisedrevenue',{width:300,height:300,title:"Revenue Breakdown ($ in services, '000)"},"#chart_holder_33","horizontalbar");
			createChart('/branch/optimisedsummary',{id:"branch_optimised_table",'class':"table table-bordered table-striped",height:200,title:"Summary"},"#chart_holder_34","table");
			createChart('/branch/facility',{id:"branch_facility_table",'class':"table table-bordered table-striped",height:300,width:200},"#chart_holder_41","table");
			createChart('/branch/employee',{width:300,height:300,title:"Employee skill mix"},"#chart_holder_42","bar");

            createChart('/branch/staff',{width:600,height:300,title:"Branch skill"},"#chart_holder_332","bar");
            createChart('/branch/skills',{id:"branch_optimised_table",'class':"table table-bordered table-striped",width:300,height:300,title:"Employee skill mix"},"#chart_holder_331","table");
			//createChart('/branches',{id:"banks_table",class:"table table-bordered table-striped",height:400,title:"Banks Table"},"#chart_holder_4","table");
			//createChart('/age/composition',{width:300,height:400,title:"Age Composition"},"#chart_holder_2","pie");
			//createChart('/report/demo?chart=segment&segment=segment1',{width:300,height:400,title:"Branch Segments"},"#chart_holder_2","pie");
			//createChart('/age/average',{width:300,height:200,title:"Average Age"},"#chart_holder_1","gauge");
			
			

	
		
		var __CONTROL_STATE__=false;
		
		function showControls()
		{
			$("#controls_container").slideToggle();
			
			if(__CONTROL_STATE__)
				$("#control_panel_btn").html("Controls \<i class=\"fa fa-angle-double-down\"></i>");
			else
				$("#control_panel_btn").html("Controls <i class=\"fa fa-angle-double-up\"></i>");
				
			__CONTROL_STATE__=!__CONTROL_STATE__;
		}
		
	</script>
</head>

<body>
<!-- header logo: style can be found in header-->
<header class="header">
{% include 'nav.html' %}
</header>
<div id="control_panel">
	<button id="control_panel_btn" onclick="showControls()">Controls <i class="fa fa-angle-double-up"></i></button>
	<div id="controls_container">
		<div class="form-group">
			<div class="form-group">
				<div class="row" id="control_panel_switches">
					<div class="col-md-3">
						<label class="control-label m-t-25">
							None
						</label>
						<input type="radio" name="switch" value="none" class="switch" checked id="my_bs_switch1" data-on-color="primary" data-off-color="info">
						<!--<input type="checkbox" name="locationSwitch" id="my_bs_switch1" checked data-on-color="primary" data-off-color="info"> -->
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Location & Drive Time
						</label>
						<input type="radio" name="switch" value="location" class="switch" id="my_bs_switch1" data-on-color="primary" data-off-color="info">
						<!--<input type="checkbox" name="locationSwitch" id="my_bs_switch1" checked data-on-color="primary" data-off-color="info"> -->
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Product Mix
						</label>
						<input type="radio" name="switch" value="product" class="switch" id="my_bs_switch2" data-on-color="primary" data-off-color="info">
						<!--<input type="checkbox" name="productSwitch" id="my_bs_switch2" checked data-on-color="primary" data-off-color="info">-->
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Branch Facility Mix
						</label>
						<input type="radio" name="switch" value="branch" class="switch" id="my_bs_switch3" data-on-color="primary" data-off-color="info">
						<!--<input type="checkbox" name="branchSwitch" id="my_bs_switch3" checked data-on-color="primary" data-off-color="info">-->
					</div>
					<script>
						$('.switch').bootstrapSwitch();
						$('.switch').on('switchChange.bootstrapSwitch', function(event,state){
							createChart('/branch/optimisedsegment?chosen='+$(this).val(),{width:300,height:300,title:"Customer Breakdown (# of customer in segments, '000)"},"#chart_holder_31","horizontalbar");
							createChart('/branch/optimisedfoottraffic?chosen='+$(this).val(),{width:300,height:300,title:"Transaction Breakdown (# of transactions in services, '000)"},"#chart_holder_32","horizontalbar");
							createChart('/branch/optimisedrevenue?chosen='+$(this).val(),{width:300,height:300,title:"Revenue Breakdown ($ in services, '000)"},"#chart_holder_33","horizontalbar");
							createChart('/branch/optimisedsummary?chosen='+$(this).val(),{id:"branch_optimised_table",'class':"table table-bordered table-striped",height:200,title:"Summary of branch"},"#chart_holder_34","table");
							createChart('/branch/staff?chosen='+$(this).val(),{width:600,height:300,title:"Branch staff number"},"#chart_holder_332","bar");
							createChart('/branch/skills?chosen='+$(this).val(),{id:"branch_optimised_table",'class':"table table-bordered table-striped",width:300,height:300,title:"Employee skill mix"},"#chart_holder_331","table");
            			    createChart('/branch/facility?chosen='+$(this).val(),{id:"branch_facility_table",'class':"table table-bordered table-striped",height:300,title:"Branch Facility"},"#chart_holder_41","table");
						});
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-aside">
        <!-- sidebar: style can be found in sidebar-->
        {% include 'sidebar.html' %}
        <!-- /.sidebar -->
    </aside>
    <aside class="right-aside">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Branch/Customer - Showing Branch Eastwood</h1>
        </section>
        <!-- Main content -->
        <section class="content">

            <!-- branch information row -->
            <div class="row">
                <div class="col-lg-6" >
                    <img src="{{url_for('static', filename='/img/images/outlet.png')}}" height="400" />
                </div>
            </div>
            <div class="row">
            	<div class="panel-body">
	            	<div class="col-lg-6" >
                        <div class="panel-heading">
                        	<h4 id="chart_holder_1_title">Branch Summary</h4><h6>&nbsp;</h6>
                        </div>
	                    <div class="panel">
	                        <div class="panel-heading"><h4 id="chart_holder_41_title"></h4></div>
	                        <div class="panel-body" id="chart_holder_41"></div>
	                    </div>
 	            	</div>
	            	<div class="col-lg-6" >
                        <div class="panel-heading">
                        	<h4 id="chart_holder_1_title">Branch Layout</h4><h6>&nbsp;</h6>
                        </div>
	                    <div class="panel">
                            <img src="{{url_for('static', filename='/img/images/layout.jpg')}}" height="400" />
	                    </div>
	            	</div>
	            </div>
            </div>

            <!-- current profile -->
            <div class="row">
                    <div class="panel-heading">
                        	<h4 id="chart_holder_1_title">Persona view</h4><h6>&nbsp;</h6>
                    </div>
                    <div class="col-lg-4" >
                            <div class="panel">
                                <div class="panel-heading"><h4 id="chart_holder_110_title"></h4></div>
                                <a href="{{url_for('static', filename='/img/persona2.png')}}" target="_blank">
                                <div class="panel-body" id="chart_holder_110"></div>
                                </a>
                            </div>
                    </div>
                    <div class="col-lg-4" >
                            <div class="panel">
                                <div class="panel-heading"><h4 id="chart_holder_111_title"></h4></div>
                                <a href="{{url_for('static', filename='/img/persona3.png')}}" target="_blank">
                                <div class="panel-body" id="chart_holder_111"></div>
                                </a>
                            </div>
                    </div>
                    <div class="col-lg-4" >
                            <div class="panel">
                                <div class="panel-heading"><h4 id="chart_holder_112_title"></h4></div>
                                <a href="{{url_for('static', filename='/img/persona1.png')}}" target="_blank">
                                <div class="panel-body" id="chart_holder_112"></div>
                                </a>
                            </div>
                    </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-4" >
                    <div class="panel">
                        <div class="panel-heading">
                        	<h4 id="chart_holder_1_title">Current</h4><h6>&nbsp;</h6>
                        	<p align = "center">Year: <span style="color:white;font-weight:bold;background-color:#e53b3b;padding-left:10px;padding-right:10px"> 2017 </span></p>
                        </div>
                        <div class="panel-body" id="chart_holder_1">
                        	<div class="col-lg-12" >
                                    <div class="panel">
                                        <div class="panel-heading"><h4 id="chart_holder_11_title"></h4></div>
                                        <a href="{{url_for('static', filename='/img/persona2.png')}}" target="_blank">
                                        <div class="panel-body" id="chart_holder_11"></div>
                                        </a>
                                    </div>

                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_12_title"></h4></div>
                        			<div class="panel-body" id="chart_holder_12"></div>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_13_title"></h4></div>
                        			<div class="panel-body" id="chart_holder_13"></div>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading">
                        				<h4 id="chart_holder_14_title"></h4>
                        				<h6>Average or total per annum</h6>
                        			</div>
                        			<div class="panel-body" id="chart_holder_14"></div>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
				<div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading">
                        	<h4  id="chart_holder_2_title">Future <h6>(no change to configuration)</h6></h4>
                        	<p align = "center">Year: <span style="color:white;font-weight:bold;background-color:#e53b3b;padding-left:10px;padding-right:10px"> 2022 </span></p>
                        </div>
                        <div class="panel-body" id="chart_holder_2">
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_21_title"></h4></div>
                                    <a href="{{url_for('static', filename='/img/persona3.png')}}" target="_blank">
                        			<div class="panel-body" id="chart_holder_21"></div>
                                    </a>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_22_title"></h4></div>
                        			<div class="panel-body" id="chart_holder_22"></div>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_23_title"></h4></div>
                        			<div class="panel-body" id="chart_holder_23"></div>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading">
                        				<h4 id="chart_holder_24_title"></h4>
                        				<h6>Average or total per annum</h6>
                        			</div>
                        			<div class="panel-body" id="chart_holder_24"></div>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading">
                        	<h4 id="chart_holder_3_title">Optimisation Outputs</h4><h6>&nbsp;</h6>
                        	<p align = "center">Year: <span style="color:white;font-weight:bold;background-color:#e53b3b;padding-left:10px;padding-right:10px"> 2022 </span></p>
                        </div>
                        <div class="panel-body" id="chart_holder_3">
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_31_title"></h4></div>
                                    <a href="{{url_for('static', filename='/img/persona1.png')}}" target="_blank">
                        			<div class="panel-body" id="chart_holder_31"></div>
                                    </a>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_32_title"></h4></div>
                        			<div class="panel-body" id="chart_holder_32"></div>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading"><h4 id="chart_holder_33_title"></h4></div>
                        			<div class="panel-body" id="chart_holder_33"></div>
                        		</div>
                        	</div>
                        	<div class="col-lg-12" >
                        		<div class="panel">
                        			<div class="panel-heading">
                        				<h4 id="chart_holder_34_title"></h4>
                        				<h6>Average or total per annum</h6>
                        			</div>
                        			<div class="panel-body" id="chart_holder_34"></div>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- skills staff -->
            <div class="row">
            	<div class="panel-body" id="chart_holder_4">
	            	<div class="col-lg-6" >
                        <div class="panel-heading">
                        	<h4 id="chart_holder_1_title">Branch skill view</h4><h6>&nbsp;</h6>
                        </div>
	                    <div class="panel">
	                        <div class="panel-heading"><h4 id="chart_holder_331_title"></h4></div>
	                        <div class="panel-body" id="chart_holder_331"></div>
	                    </div>
	            	</div>
	            	<div class="col-lg-6" >
                        <div class="panel-heading">
                        	<h4 id="chart_holder_1_title">Branch staff view</h4><h6>&nbsp;</h6>
                        </div>
	                    <div class="panel">
	                        <div class="panel-heading"><h4 id="chart_holder_332_title"></h4></div>
	                        <div class="panel-body" id="chart_holder_332"></div>
	                    </div>
	            	</div>
	            </div>
            </div>

        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of page level js -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyADWjiTRjsycXf3Lo0ahdc7dDxcQb475qw&libraries=places"></script>
<script type="text/javascript" src="vendors/gmaps/js/gmaps.min.js"></script>
<script type="text/javascript" src="js/pages/gv_maps.js"></script>
</body>

</html>
