<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> NAB Branch Optimisation - Lens 2</title>
	{% include 'headers.html' %}
	<link href="/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />
	<script src="/js/bootstrap-switch.js" type="text/javascript"></script>
	<script>

		var switchStates = {};
		var table_args={
						id:"banks_table",
						class:"table table-bordered table-striped",
						height:300,
						title:"Banks Table",
						columns:{
							'bsb':'BSB',
							'revenue':'Revenue',
							'revenue_foot_traffic_banking':'Product Revenue'
						},
						transformer: mapTo2DTable
					}

	
		$(document).ready(function(){
			map=createMap("LGA - Overview" ,"#chart_holder_3",{
				lat: -33.8150,
				lng: 151.0011,
				zoom: 14,
				zoomControl: true,
				zoomControlOpt: {
					style: "SMALL",
					position: "TOP_LEFT"
				},
				panControl: true,
				streetViewControl: false,
				mapTypeControl: false,
				overviewMapControl: false
			});
			
			addMarkersToMap(map,"/branches/locations?banks=NAB",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','nab');

			
			window.lens2Charts = function() {

				createChart('/parramatta/revenue?factorClosed='+(hasClosed())+'&chosen='+getControlState(),{width:300,height:300,title:"Parramatta Revenue Breakdown ($million)"},"#chart_holder_1","bar");
				createChart('/parramatta/foottraffic?factorClosed='+(hasClosed())+'&chosen='+getControlState(),{width:300,height:300,title:"Parramatta Foot Traffic ('000)"},"#chart_holder_2","bar");
				createChart('/parramatta/branchrevenue?factorClosed='+(hasClosed())+'&chosen='+getControlState(),{width:300,height:300,title:"Parramatta Branch Revenue ($million)"},"#chart_holder_7","bar");
				createChart('/parramatta/branchprofit?factorClosed='+(hasClosed())+'&chosen='+getControlState(),{width:300,height:300,title:"Parramatta Branch Profit  ($million)"},"#chart_holder_8","bar");
				createChart('/parramatta/agedist?factorClosed='+(hasClosed()),{width:450,height:300,title:"Parramatta Age Distribution"},"#chart_holder_4","bar");
				createChart('/parramatta/incomedist?factorClosed='+(hasClosed()),{width:300,height:300,title:"Parramatta Education Distribution"},"#chart_holder_5","bar");
				createChart('/parramatta/industrydist?factorClosed='+(hasClosed()),{width:450,height:300,title:"Parramatta Industry Distribution"},"#chart_holder_6","bar");

                createChart('/parramatta/summary?factorClosed='+(hasClosed())+'&chosen='+getControlState(),{id:"parramatta_summary_table",'class':"table table-bordered table-striped",width:300,height:300,title:"Summary of LGA"},"#chart_holder_221","table");
                createChart('/parramatta/detail?factorClosed='+(hasClosed()),{id:"parramatta_summary_table",'class':"table table-bordered table-striped",width:300,height:300,title:"Details of branches in LGA"},"#chart_holder_222","table");

			}
			lens2Charts();
			//createChart('/branches',{id:"banks_table",class:"table table-bordered table-striped",height:400,title:"Banks Table"},"#chart_holder_4","table");
			//createChart('/age/composition',{width:400,height:400,title:"Age Composition"},"#chart_holder_2","pie");
			//createChart('/age/average',{width:400,height:400,title:"Average Age"},"#chart_holder_1","gauge");
			//createChart('/branch/performance',table_args,"#chart_holder_1","table2");
			//createChart('/report/demo?chart=segment&segment=segment1',{width:300,height:400,title:"Branch Segments"},"#chart_holder_5","pie");

            addLGA(map.map,16250);
		});
		
		var __CONTROL_STATE__=false;
		
		function showControls()
		{
			$("#controls_container").slideToggle();
			
			if(__CONTROL_STATE__)
				$("#control_panel_btn").html("Controls \<i class=\"fa fa-angle-double-down\"></i>");
			else
				$("#control_panel_btn").html("Controls <i class=\"fa fa-angle-double-up\"></i>");
				
			__CONTROL_STATE__=!__CONTROL_STATE__;
		}

	</script>
</head>

<body>
<!-- header logo: style can be found in header-->
<header class="header">
{% include 'nav.html' %}
</header>
<div id="control_panel">
	<button id="control_panel_btn" onclick="showControls()">Controls <i class="fa fa-angle-double-up"></i></button>
	<div id="controls_container">
		<div class="form-group">
			<div class="form-group">
				<div class="row" id="control_panel_switches">
					<div class="col-md-3">
						<label class="control-label m-t-25">
							None
						</label>
						<input type="radio" name="switch" value="none" class="switch" checked id="my_bs_switch1" data-on-color="primary" data-off-color="info">
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Location & Drive Time
						</label>
						<input type="radio" name="switch" value="location" class="switch" id="my_bs_switch1" data-on-color="primary" data-off-color="info">
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Product Mix
						</label>
						<input type="radio" name="switch" value="product" class="switch" id="my_bs_switch2" data-on-color="primary" data-off-color="info">
					</div>
					<div class="col-md-3">
						<label class="control-label m-t-25">
							Branch Facility Mix
						</label>
						<input type="radio" name="switch" value="branch" class="switch" id="my_bs_switch3" data-on-color="primary" data-off-color="info">
					</div>
					<script>
						$('input[name="switch"]').bootstrapSwitch();
						$('input[name="switch"]').on('switchChange.bootstrapSwitch', function(event,state){
                            setControlState($(this).val());
							createChart('/parramatta/revenue?factorClosed='+(hasClosed())+'&chosen='+$(this).val(),{width:300,height:300,title:"Parramatta Revenue Breakdown ($million)"},"#chart_holder_1","bar");
							createChart('/parramatta/foottraffic?factorClosed='+(hasClosed())+'&chosen='+$(this).val(),{width:300,height:300,title:"Parramatta Foot Traffic ('000)"},"#chart_holder_2","bar");
							createChart('/parramatta/branchrevenue?factorClosed='+(hasClosed())+'&chosen='+$(this).val(),{width:300,height:300,title:"Parramatta Branch Revenue $million)"},"#chart_holder_7","bar");
							createChart('/parramatta/branchprofit?factorClosed='+(hasClosed())+'&chosen='+$(this).val(),{width:300,height:300,title:"Parramatta Branch Profit $million)"},"#chart_holder_8","bar");
                            createChart('/parramatta/summary?factorClosed='+(hasClosed())+'&chosen='+getControlState(),{id:"parramatta_summary_table",'class':"table table-bordered table-striped",width:300,height:300,title:"Summary of LGA"},"#chart_holder_221","table");
						});
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-aside">
        <!-- sidebar: style can be found in sidebar-->
        {% include 'sidebar.html' %}
        <!-- /.sidebar -->
    </aside>
    <aside class="right-aside">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Regional/Branch</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- row  1-->
            <div class="row">

                <!-- map -->
                <div class="col-lg-8" height = 600>
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_3_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_3" class="gmap"></div></div>
                        <div class="row" id="control_panel_switches">
                            <div class="col-md-4">
                                <label class="control-label m-t-20">
                                    Show competitors
                                </label>
                                <input type="checkbox" name="competitors" value="competitors" class="switch"  id="my_bs_switch1" data-on-color="primary" data-off-color="info">
                            </div>

                           <!-- <div class="col-md-4">
                                <label class="control-label m-t-20">
                                    Show ATMs
                                </label>
                                <input type="checkbox" name="switch" value="atms" class="switch" id="my_bs_switch1" data-on-color="primary" data-off-color="info">
                            </div>-->
                            <script>
                                $('input[name="competitors"]').bootstrapSwitch();
                                $('input[name="competitors"]').on('switchChange.bootstrapSwitch', function(event,state){


                                    removeMarkers();

                                    addMarkersToMap(map,"/branches/locations?banks=NAB",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','nab');

                                    if (state==true){

                                        addMarkersToMap(map,"/branches/locations?banks=SGP",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','sgp');
                                        addMarkersToMap(map,"/branches/locations?banks=MET",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','sun');
                                        addMarkersToMap(map,"/branches/locations?banks=WBC",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','wbc');
                                        addMarkersToMap(map,"/branches/locations?banks=BWA",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','bwa');
                                        addMarkersToMap(map,"/branches/locations?banks=CBA",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','cba');
                                        addMarkersToMap(map,"/branches/locations?banks=AMP",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','amp');
                                        addMarkersToMap(map,"/branches/locations?banks=ANZ",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','anz');
                                        addMarkersToMap(map,"/branches/locations?banks=CST",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','cba');
                                        addMarkersToMap(map,"/branches/locations?banks=LBA",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','lba');
                                        addMarkersToMap(map,"/branches/locations?banks=ARA",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','ara');
                                        addMarkersToMap(map,"/branches/locations?banks=HBA",{title:'bank',content:'description',longitude:'long',latitude:'lat'},'bsb','hba');

                                    }

                                });
                            </script>
                        </div>
                    </div>
                </div>
                <!-- end of map -->

                <!-- table with summary -->
                <div class="col-lg-4" height = 600>
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_221_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_221"></div></div>
                    </div>
                </div>

                <!-- end table with summary -->

             <!-- end of row 1 -->



                <!--
                <div class="col-lg-4" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_7_title"></h4></div>
                        <div class="panel-body" id="chart_holder_7"></div>
                    </div>
                </div>
                <div class="col-lg-4" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_8_title"></h4></div>
                        <div class="panel-body" id="chart_holder_8"></div>
                    </div>
                </div>
                -->

            </div>

            <!-- row  2-->
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_222_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_222"></div></div>
                    </div>
                </div>

                <!--
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_4_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_4"></div></div>
                    </div>
                </div>
				<div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_5_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_5"></div></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_6_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_6"></div></div>
                    </div>
                </div>
                -->

            </div>
            <!-- end of row 2 -->

            <!-- row  3-->
            <div class="row">
                <div class="col-lg-3" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_1_title"></h4></div>
                        <div class="panel-body" id="chart_holder_1"></div>
                    </div>
                </div>
                <div class="col-lg-3" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_7_title"></h4></div>
                        <div class="panel-body" id="chart_holder_7"></div>
                    </div>
                </div>
                <div class="col-lg-3" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_2_title"></h4></div>
                        <div class="panel-body" id="chart_holder_2"></div>
                    </div>
                </div>
                <div class="col-lg-3" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_8_title"></h4></div>
                        <div class="panel-body" id="chart_holder_8"></div>
                    </div>
                </div>
            </div>
            <!-- end of row  3-->


            <!-- row  4-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_4_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_4"></div></div>
                    </div>
                </div>
                <!--
				<div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_5_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_5"></div></div>
                    </div>
                </div>
                -->
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_6_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_6"></div></div>
                    </div>
                </div>
            </div>
            <!-- end of row  4-->

        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of page level js -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyADWjiTRjsycXf3Lo0ahdc7dDxcQb475qw&libraries=places"></script>
<script type="text/javascript" src="vendors/gmaps/js/gmaps.min.js"></script>
<script type="text/javascript" src="js/pages/gv_maps.js"></script>

</body>

</html>
