<nav class="navbar navbar-static-top" role="navigation" style="background-color:black;">
        <a href="index.html" class="logo" style="background-color:black;">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            <img src="img/nab_logo.gif" alt="logo" style="height:40px;"/>
        </a>
        <!-- Header Navbar: style can be found in header-->
        <!-- Sidebar toggle button-->
        <!-- Sidebar toggle button-->
        <div>
            <a href="javascript:void(0)" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i
                    class="fa fa-fw fa-bars"></i>
            </a>
        </div>
    </nav>