<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NAB Branch Optimisation | Lens 1</title>
	{% include 'headers.html' %}
	<script>
		map=null;
		$(document).ready(function(){
			map=createMap("Australia - Overview" ,"#chart_holder_3",{
				lat: -25.584590, 
				lng: 133.794998,
				zoom: 3,
				zoomControl: true,
				zoomControlOpt: {
					style: "SMALL",
					position: "TOP_LEFT"
				},
				panControl: true,
				streetViewControl: false,
				mapTypeControl: false,
				overviewMapControl: false
			});
			
			table_args={
							id:"banks_table",
							class:"table table-bordered table-striped",
							height:300,
							title:"Banks Table",
							columns:{
								'bsb':'BSB',
								'revenue':'Revenue',
								'revenue_foot_traffic_banking':'Product Revenue'
							},
							transformer: mapTo2DTable
						}
			
			addMarkersToMap(map,"/branches/locations",{title:'bank',content:'description',longitude:'long',latitude:'lat'},null);
			createChart('/branch/performance',table_args,"#chart_holder_1","table2");
			createChart('/income/median/all',{width:300,height:300,title:"Median Income by Age",x_label:'Median Age',y_label:'Median Income'},"#chart_holder_2","scatter");
			createChart('/age/distribution',{width:300,height:300,title:"Age Distribution"},"#chart_holder_4","bar");
		});
	</script>
</head>

<body>
<!-- header logo: style can be found in header-->
<header class="header">
{% include 'nav.html' %}
</header>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-aside">
        <!-- sidebar: style can be found in sidebar-->
        {% include 'sidebar.html' %}
        <!-- /.sidebar -->
    </aside>
    <aside class="right-aside">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Lens 1</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4" >
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_1_title"></h4></div>
                        <div class="panel-body" id="chart_holder_1"></div>
                    </div>
                </div>
				<div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4  id="chart_holder_2_title"></h4></div>
                        <div class="panel-body" id="chart_holder_2"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_3_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_3" class="gmap"></div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="chart_holder_4_title"></h4></div>
                        <div class="panel-body"><div id="chart_holder_4"></div></div>
                    </div>
                </div>
				<div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading"><h4 id="text_title">Lorem Ipsum</h4></div>
                        <div class="panel-body">
							<div id="text_body" >
								<p>
									Aliquam posuere odio eget quam pulvinar, eget tempor quam hendrerit. Proin ac accumsan augue. Suspendisse cursus elit ut maximus fringilla. Ut ultrices luctus viverra. Nam sed tristique orci. Quisque tincidunt lacus ac suscipit lacinia. Etiam vestibulum elementum felis ut convallis. Cras at ante sapien.
								</p>
								<p>
									Aliquam posuere odio eget quam pulvinar, eget tempor quam hendrerit. Proin ac accumsan augue. Suspendisse cursus elit ut maximus fringilla. Ut ultrices luctus viverra. Nam sed tristique orci. Quisque tincidunt lacus ac suscipit lacinia. Etiam vestibulum elementum felis ut convallis. Cras at ante sapien.
								</p>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of page level js -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyADWjiTRjsycXf3Lo0ahdc7dDxcQb475qw&libraries=places"></script>
<script type="text/javascript" src="vendors/gmaps/js/gmaps.min.js"></script>
<script type="text/javascript" src="js/pages/gv_maps.js"></script>
</body>

</html>
