        <section class="sidebar">
            <div id="menu" role="navigation">
                <ul class="navigation">
                    <!--
				    li>
                        <a href="/overview" class="{{overview}}" id="{{overview}}">
                            <i class="menu-icon fa fa-fw fa-star" style="color:red;"></i>
                            <span class="mm-text ">Overview</span>
                        </a>
                    </li>
                    -->
                    <li class="{{lens1}}" id="{{lens1}}">
                        <a href="/lens1?key=db1368e8-8d9a-4250-a58e-341bf8c9e784" >
                            <i class="menu-icon fa fa-fw fa-search"></i>
                            <span class="mm-text ">National/Regional</span>
                        </a>
                    </li>
                    <li class="{{lens2}}" id="{{lens2}}">
                        <a href="/lens2?key=db1368e8-8d9a-4250-a58e-341bf8c9e784" >
                            <i class="menu-icon fa fa-fw fa-search"></i>
                            <span class="mm-text ">Regional/Branch</span>
                        </a>
                    </li>
                    <li class="{{lens3}}" id="{{lens3}}">
                        <a href="/lens3?key=db1368e8-8d9a-4250-a58e-341bf8c9e784" >
                            <i class="menu-icon fa fa-fw fa-search"></i>
                            <span class="mm-text ">Branch/Customer</span>
                        </a>
                    </li>
					<li class="{{lens4}}" id="{{lens4}}">
                        <a href="/lens4?key=db1368e8-8d9a-4250-a58e-341bf8c9e784" >
                            <i class="menu-icon fa fa-fw fa-search"></i>
                            <span class="mm-text ">NLP interface</span>
                        </a>
                    </li>
                </ul>
                <!-- / .navigation -->
            </div>
            <!-- menu -->
        </section>